@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] ="Om mig";
}

<h2>Om mig</h2>
<p>Jag heter Johanna Karlsson och bor i Kalmar</p>
<div class="about-section">
<button class="about">Läs mer</button>
<div class="section">
  <p>Fullstack-utvecklare med stort intresse för UX</p>
</div>
</div>